install_odd: &install_odd
  name: Install odd
  command: |
            pip3 install -e . --no-deps

run_demo_mpi: &run_demo_mpi
  name: run demos MPI
  command: |
            cd demo/Poisson
            mpirun -n 3 python3 poisson.py
            mpirun -n 3 python3 poisson_petsc.py


version: 2
jobs:
  build:
    docker:
      - image: quay.io/fenicsproject/dolfinx:complex
    steps:
      - checkout
      - run: *install_odd
      - run: *run_demo_mpi

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
