flake8: &flake8
  name: Verifies pep8, pyflakes and circular complexit
  command: |
            python3 -m pip install flake8 black
            python3 -m flake8 odd
            python3 -m black -l 119 odd

install_dependencies: &install_dependencies
    name: Install Test Dependencies
    command: |
          python3 -m pip install coverage pytest pytest-cov pytest-xdist coveralls coveralls-merge --upgrade

install_odd: &install_odd
  name: Install odd
  command: |
            python3 -m pip install -e . --no-deps

run_demo_mpi: &run_demo_mpi
  name: run demos MPI
  command: |
            cd demo/poisson
            mpirun -n 3 python3 poisson.py
            mpirun -n 3 python3 poisson_petsc.py

run_tests: &run_tests
  name: run tests in serial and parallel
  command: |
            python3 -m pytest --cov=odd/ -v . test/
            mpirun -n 3 python3 -m pytest --cov=odd/ . test/
            coveralls

version: 2.1
orbs:
  coveralls: coveralls/coveralls@1.0.4
jobs:
  build:
    docker:
      - image: dolfinx/complex:latest
    environment:
      - COVERALLS_PARALLEL: true
    steps:
      - checkout
      - run: *flake8
      - run: *install_dependencies
      - run: *install_odd
      - run: *run_tests


workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build
